@media (max-width: 360px) {

  .PreparingForAIPanel .LeftBox .fieldset {
    text-align: center;
    width: 320px;
    margin-bottom: 10px;

    .selector {
      grid-area: 1/1/2/2;
      
      height: 100%;
      width: 130px;
      border-radius: 60px;
      position: relative;
      pointer-events: none;
    
  
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0px;
        width: 110px;
        height: 100%;
        background-color: #fff;
        border-radius: inherit;
        transform: translateX(calc(var(--active) * (100% - 11px)));
  
        transition: 0.4s transform cubic-bezier(0.28, 1.33, 0.64, 1);
      }
    }
  }

  .PreparingForAIPanel .LeftBox .tab .InfoPreparingForAIPanel li{
    font-size: 14px;
  }
   
}

  @media (max-width: 425px) {
    :root {
      width: 100vw;
    }
  
    /*HEADER*/
    .header__container{
      justify-content: space-between;
    }
    .header__container .burger{
      margin-right: 20px;
      z-index: 10;
    }
    .header__container a {
      z-index: 10;
    }
  
    .primary-navigation {
      list-style: none;
      padding-top: 100px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      overflow-y: auto;
      background-color: var(--bg);
      transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
      transform: translateX(-100%);
      visibility: hidden;
      background: #ffffffb6;
  
      ul li {
        font-size: 30px;
        list-style: none;
        margin: 0 auto;
        /*border-left: 2px solid #0004ff;*/
        display: inline-block;
        position: relative;
        text-decoration: none;
        text-align: left;
        margin-bottom: 100px;
      }
  
      ul li a {
        text-decoration: none;
        margin-right: 100px;
        outline: none;
        display: block;
        padding: 6px 0;
        transition: .3s linear;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        z-index: 10;
        visibility: visible;
        opacity: 1;
        display: flex;
        min-width: 260px;
        margin-top: 0px;
        margin-left: 0px;
        text-align: left;
        box-shadow: 0px 3px 5px -1px #ccc;
      }
      ul li ul li {
        min-width: 100px;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;
      }
      ul li ul li a:hover {
        padding-left: 10px;
        /*border-left: 2px solid #0004ff;*/
        transition: all 0.3s ease;
      }
    }
  
    .nav--active ~ .primary-navigation{
      transform: translateX(0%);
      visibility: visible;
    }
  
    .burger{
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      border: 0;
      background: rgb(255, 255, 255);
      box-shadow: #33333350 0 0 0 0.5px;
      border-radius: 500px;
    }
  
    .burger img{
      margin: -5px 50px 0 -10px;
    }
  
    /*MAIN*/
  
    .Main {
      flex-direction: column;
      display: block;
      width: 100%;
      text-align: left;
    }
    .Main .Logo {display: none;}
  
    .Main p:nth-child(1) {
      margin-top: 50px;
      margin-left: 5%;
      font-size: 32px;
    }
  
    .Main p:nth-child(2) {
      margin-top: 5px;
      margin-left: 5%;
      font-size: 32px;
    }

    .Info {
      flex-direction: column;
      margin: 0;
    }
  
    .Info .Column:nth-child(1){
      margin: 0;
      margin-top: 30px;
      margin-left: 230px;
    }
  
    .Info .Column:nth-child(2){
      margin: 0;
      margin-left: 230px;
    }
  
    .Info .Column:nth-child(3){
      margin: 0;
      margin-left: 230px;
    }
  
    /*PreparingForAIPanel*/
  
    .PreparingForAIPanel {
      margin-left: 0;
      margin-right: 0;
      justify-content: space-around;
      width: 100vw;
      height: 700px;
      border-radius: 30px;
    }
  
    .PreparingForAIPanel .RightBox {display: none;}

    .PreparingForAIPanel .LeftBox .subtitle {
      text-align: center;
      font-size: 16px;
    }
  
    .PreparingForAIPanel .LeftBox .header {
      text-align: center;
      margin-left: 0;
      white-space: nowrap;
      font-size: 35px;
    }
  
    .LeftBox .fieldset {
      text-align: center;
      width: 95vw;
      margin-bottom: 10px;
  
      .selector {
        grid-area: 1/1/2/2;
        
        height: 100vw;
        width: 130px;
        border-radius: 60px;
        position: relative;
        pointer-events: none;
      
    
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0px;
          width: 120px;
          height: 100%;
          background-color: #fff;
          border-radius: inherit;
          transform: translateX(calc(var(--active) * (100% + 3px)));
    
          transition: 0.4s transform cubic-bezier(0.28, 1.33, 0.64, 1);
        }
      }
    }

    .LeftBox {
      margin-left: -60px;
      margin-top: -20px;
    }
  
    .LeftBox .fieldset span {
      margin-left: -22px;
      font-size: 12px;
    }
  
    .LeftBox .tab {
      display: block;
      width: 100%;
    }
  
    .LeftBox .tab .InfoPreparingForAIPanel{
      width: 300px;
      text-align: left;
      white-space: nowrap;
      margin-left: -25px;
    }
    .LeftBox .tab .InfoPreparingForAIPanel li{
      margin-left: -35px;
      font-size: 16px;
    }
  
    .LeftBox .tab .DescriptionPreparingForAIPanel{
      margin-left: 5px;
      width: 98%;
      padding-right: 9px;
      margin-top: 10px;
    }

    .Marks {
      justify-content: end;
      margin-top: 15px;
      margin-left: 5px;
      font-size: 25px;
    }

    .MoreDetailed {
      margin-left: 5px;
      margin-top: 15px;
    }

    .Portfolio{
      height: 400px;

      .LeftBox {

        .header{
          font-size: 32px;
        }

        .DescriptionPreparingForAIPanel{
          font-size: 22px;
        }

        .Marks{
          font-size: 40px;
        }

      }
    }

    /*SLIDER*/

    .slider {
        width: 100vw;
        margin-left: 0;
        margin-right: 0;
        
        .slider__nav:nth-of-type(3) {display: block;}
        .slider__nav:checked:nth-of-type(1) ~ .slider__inner {left: -6vw;}
        .slider__nav:checked:nth-of-type(2) ~ .slider__inner {left: -119.5vw;}
        .slider__nav:checked:nth-of-type(3) ~ .slider__inner {left: -233vw;}
        .slider__nav:checked:nth-of-type(4) ~ .slider__inner {left: -300vw;}
    }

    .slider .slider__contents .slider__caption .RightSlider img {display: none;}

    .slider__caption {
        margin: 0;
        width: 95vw;
    }

    .slider__caption .LeftSlider .Tags, .Tags1, .Tags2{
      margin: 0 0 3px 0;
      position: relative;
      text-align: center;
      border-collapse: separate;
      border-spacing: 10px 0;
    }

    /*FOOTER*/

    .footer {
        width: 100%;
        height: 780px;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        .leftFooter {
          margin-top: 30px;
            margin-left: 20px;

            .TitleFooter{
                font-size: 50px;
            }

            .Number, .Email{
                font-size: 20px;
            }

            .FeedBack{
                margin-left: 0;
            }

            .Contry p{
                font-size: 20px;
            }

            .Line {
                margin-left: 0;
                width: 80%;
            }

        }

        .FeedBack img {
          width: 50px;
          height: 50px;
        }

        .RightFooter{
            width: 90%;
            height: 400px;
            margin-top: -630px;

          .Line{
            width: 80%;
          }
        }

        .ContactsLeft{
          padding-top: 20px;
          padding-left: 0px;
          justify-content: center;

          .link{
            width: 90vw;
          }
        }

        .ContactsRight{
          margin-top: 0;
          margin-left: 0px;
          width: 90%;

          .Line {
            width: 80vw;
          }
        }

        .ContactsFORM {
          justify-content: center;
          margin-top: 0;
          margin-left: -20px;
          width: 100vw;

          .Line{
            margin-left: 30px;
          }
        }
    }

    .ContactInfo{
      height: 950px;
    }
    
    .Video {
      width: 100vw;
      height: 350px;
      text-align: center;

      p {
        padding: 0 0 0 0;
      }

      video {
        margin:  0 0 0 0;
        width: 95vw;
        height: 200px;
      }
    }
    
    .Stage {
      width: 100vw;
      flex-direction: column;
      .NumberStage {
        width: 80px;
        height: 80px;
        margin: 20px 0 0 150px;
        text-align: center;
        
        p {
          padding: 0;
          font-size: 50px;
        }
      }

      .StageInformation {
        width: 90%;
        margin-left: 20px;

        .NameStage {
          font-size: 30px;
          font-weight: 700;
          padding-top: 20px;
        }
        .Description{
          margin-top: 30px;
          font-size: 16px;
          font-weight: 500;
          color: rgb(106, 106, 106);
        }
        .additionally {
          margin-top: 50px;
          font-size: 20px;
          font-weight: 700;
        }

        .point{
          margin-left: -70px;
          white-space: nowrap;

          .InfoPreparingForAIPanel li {
            white-space: pre-line;
            margin-left: -40px;
            font-size: 18px;
            font-weight: 300;
          }
        }
      }
    }
    
    .stagesInfo__box {
      width: 100vw;
      
      .stagesInfo__texts {
        margin: 0 0 0 -30px;
      }
    }
    
    .caseOrder {
      width: 100vw;
      height: 870px;
      .Title {
        margin: 30px 0 0 0;
        font-size: 35px;
        width: 100vw;
      }
      .blockTitle {
        margin-top: 20px;
      }

      .Cases {
        button{
          white-space: nowrap;
          padding: 0;
          width: 100px;
          height: 50px;
          font-size: 14px;
          font-weight: 500;
        }
      }

      .servicesForm__step {
        width: 100vw;
        .servicesForm__head{
          flex-direction: column;
          justify-content: 0;
          p{
            text-align: center;
            padding-left: 0px;
            font-size: 30px;
          }
          form {
            text-align: center;
            margin-top: 10px;
            margin-left: 30px;
          }
        }
      }

      .Line {display: none}


      .servicesForm__info{
        width: 100vw;
        height: 100vw;
        height: -moz-calc(100vw - 0px);
        height: calc(100vw + 100px);
        padding: 26px 20px 26px 102px;

        .servicesForm__infoInner{
          text-align: left;
          width: 95vw;
          overflow-y: scroll;
          line-height: 1.5;
          padding: 30px 10px 20px 0px;

          h3 {
            max-width: 100vw;
            font-size: 32px;
          }
        }
      }
    }
  }