@media (max-width: 425px) {
    :root {
      width: 100%;
    }
  
    /*HEADER*/
    .header__container{
      margin-left: 10px;
      justify-content: space-between;
    }
    .header__container .burger{
      margin-right: 20px;
      z-index: 10;
    }
    .header__container a {
      z-index: 10;
    }
  
    .primary-navigation {
      list-style: none;
      padding-top: 100px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      background-color: var(--bg);
      transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
      transform: translateX(-100%);
      visibility: hidden;
      background: #ffffffb6;
  
      ul li {
        font-size: 30px;
        list-style: none;
        margin: 0 auto;
        /*border-left: 2px solid #0004ff;*/
        display: inline-block;
        position: relative;
        text-decoration: none;
        text-align: left;
        margin-bottom: 100px;
      }
  
      ul li a {
        text-decoration: none;
        margin-right: 100px;
        outline: none;
        display: block;
        padding: 6px 0;
        transition: .3s linear;
      }
  
      ul li:hover > ul,
      ul li ul:hover {
        z-index: 10;
        visibility: visible;
        opacity: 1;
        display: flex;
        min-width: 260px;
        margin-top: 0px;
        margin-left: 0px;
        text-align: left;
        box-shadow: 0px 3px 5px -1px #ccc;}
      ul li ul li {
        min-width: 100px;
        text-align: left;
        margin-bottom: 20px;
        border-style: none;}
      ul li ul li a:hover {
        padding-left: 10px;
        /*border-left: 2px solid #0004ff;*/
        transition: all 0.3s ease;}
    }
  
    .nav--active ~ .primary-navigation{
      transform: translateX(0%);
      visibility: visible;
    }
  
    .burger{
      position: relative;
      display: block;
      width: 50px;
      height: 50px;
      border: 0;
      background: rgb(255, 255, 255);
      box-shadow: #33333350 0 0 0 0.5px;
      border-radius: 500px;
    }
  
    .burger img{
      margin: -5px 50px 0 -10px;
    }
  
    /*MAIN*/
  
    .Main {
      display: block;
      width: 100%;
      text-align: left;
    }
    .Main .Logo {display: none;}
  
    .Main p:nth-child(1) {
      margin-top: 50px;
      margin-left: 5%;
      font-size: 32px;
    }
  
    .Main p:nth-child(2) {
      margin-top: 5px;
      margin-left: 5%;
      font-size: 32px;
    }
  
    .Info .Column:nth-child(1){
      margin-left: 250px;
    }
  
    .Info .Column:nth-child(2){
      margin-top: 500px;
      margin-left: -1200px;
    }
  
    .Info .Column:nth-child(3){
      margin-top: 1000px;
      margin-left: -1100px;
    }
  
    /*PreparingForAIPanel*/
  
    .PreparingForAIPanel {
      width: 100%;
      height: 800px;
      border-radius: 30px;
    }
  
    .PreparingForAIPanel .RightBox {display: none;}
  
    .PreparingForAIPanel .LeftBox {
      margin-top: 0px;
    }
  
    .PreparingForAIPanel .LeftBox .subtitle {
      margin-left: 20%;
      text-align: center;
      font-size: 16px;
    }
  
    .PreparingForAIPanel .LeftBox .header {
      margin-left: 20%;
        text-align: center;
        font-size: 40px;
    }
  
    .LeftBox .fieldset {
      margin-left: 95px;
      width: 350px;
  
      .selector {
        grid-area: 1/1/2/2;
        
        height: 100%;
        width: 130px;
        border-radius: 60px;
        position: relative;
        pointer-events: none;
      
    
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0px;
          width: 110px;
          height: 100%;
          background-color: #fff;
          border-radius: inherit;
          transform: translateX(calc(var(--active) * (100% + 2px)));
    
          transition: 0.4s transform cubic-bezier(0.28, 1.33, 0.64, 1);
        }
      }
    }
  
    .LeftBox .fieldset span {
      margin-left: -20px;
      font-size: 14px;
    }
  
    .LeftBox .tab {
        margin-top: 20px;
      display: block;
      width: 450px;
    }
  
    .LeftBox .tab .InfoPreparingForAIPanel{
      white-space: nowrap;
      margin-left: 80px;
    }
    .LeftBox .tab .InfoPreparingForAIPanel li{
      font-size: 15px;
    }
  
    .LeftBox .tab .DescriptionPreparingForAIPanel{
      margin-left: 100px;
      padding-right: 5px;
    }

    .Marks {
      margin-left: 100px;
      margin-top: 50px;
      font-size: 28px;
    }

    .MoreDetailed {
        margin-left: 100px;
        margin-top: 30px;
    }

    /*SLIDER*/

    .slider {
        width: 100%;
        
        .slider__nav:nth-of-type(3) {display: block;}
        .slider__nav:checked:nth-of-type(1) ~ .slider__inner {left: -10%;}
        .slider__nav:checked:nth-of-type(2) ~ .slider__inner {left: -130%;}
        .slider__nav:checked:nth-of-type(3) ~ .slider__inner {left: -260%;}
        .slider__nav:checked:nth-of-type(4) ~ .slider__inner {left: -314%;}
    }

    .slider .slider__contents .slider__caption .RightSlider img {display: none;}

    .slider .slider__contents .slider__caption {
        width: 100%;
    }

    /*FOOTER*/

    .footer {
        width: 100%;
        height: 800px;
        .leftFooter {
            margin-top: 400px;
            margin-left: 20px;

            .TitleFooter{
                font-size: 50px;
            }

            .Number, .Email{
                font-size: 20px;
            }

            .FeedBack{
                margin-left: 0;
            }

            .Contry p{
                font-size: 20px;
            }

            .Line {
                margin-left: 0;
                width: 80%;
            }

        }

        .RightFooter{
            width: 90%;
            height: 400px;
            margin-top: -300px;
            margin-left: -350px;

          .Line{
            width: 80%;
          }
        }
    }
  }